@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yeonyoo';
  src: url('/fonts/온글잎 연유체.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Yeonyoo', sans-serif;
}
